<nav class="navbar navbar-expand-lg navbar-dark navbarxd">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/punto1" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Punto 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/punto2" routerLinkActive="active">Punto 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/punto3" routerLinkActive="active">Punto 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/boletos" routerLinkActive="active">Boletos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="container mt-4"> <router-outlet></router-outlet>
  
</main>

<footer class="container mt-5 py-3 text-center text-muted border-top">
<p>&copy; 2025 {{ title }}</p>
</footer>